.container {
  display: flex;
  flex-wrap: wrap;
}

.item {
  flex: 1 1 50%;
}

@media (max-width: 1600px) {
  .item {
      flex: 1 1 100%;
  }
}

section.content {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 24px;
}

article.markdown-section {
  max-width: 100%;
}
